body{
    /* background-image: url(); */
    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div1{
    height: 50px;
    background: inherit;
    position: fixed;
    width: 100%;
    top: 0;
}

.c1{
    width: 90%;
    background-color: whitesmoke;
    margin: 50px auto;
}

header{
  position: fixed;
  top: 50px;
  width: inherit;
  z-index: 99;
  background-color: whitesmoke;
}

.sec{
    margin: 50px;
}

.hdg{
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec p{
    font-size: 25px;
}

.p1{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color:lightgray;
}

.img1{
    width: 400px;
    height: 250px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

.p2{
  font-size: 20px;
  font-weight:bolder;
  text-align: center;
  padding: 20px 20px;
}

.p3{
    margin: 40px;
    margin-top: 126px;
    /* border: 1px solid #d3d3d3; */
    background-color: white;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color:lightgrey; */
    background-color: whitesmoke;
    padding: 10px;
}

.grid-item2 {
    background-color: white;
    color: black;
    margin: 3px;
    border: 1px solid black;
    padding: 2px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
}

.grid-item2 a{
    color: black;
    text-decoration: none;
}

.active {
    background-color: #3a3632;
}

.active a{
    color: white;
}

.grid-item2:hover{
    box-shadow: 0px 8px 16px black;
}

.icon{
  position: fixed;
  top: 270px;
  left: 1px;
  z-index: 50;
}

.home {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px double white;
  background-color:  #3a3632;
  
}

.home a{
  color:whitesmoke;
}

.cart{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px double white;
  background-color:  #3a3632;
  color:whitesmoke;
}
.profile{
  width: fit-content;
  height: fit-content;
  padding: 13.5px;
  border: 1px double white;
  background-color:  #3a3632;
  color:whitesmoke;
}

/* products styling */

/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 40px;
    }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 80%;
    height: 100%;
    margin: 0px auto;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 55px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateX(-50%);
    padding: 10px;
    width: 70%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }

  .product-card:hover .product-thumb{
    filter: brightness(50%);
  }
  
  .card-btn:hover {
    background: darkgray;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

/* .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:white;
    padding: 5px;
}
.grid-item {
    background-color: white;
    margin: 3px;
    border: 0px;
    padding: 4px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}


.btn{
    position:static;
    top: 10px;
    right: 4px;
}

div > .btn1{
    float: right;
}

.btn1{
    border: 0px;
    background-color: inherit;
    color: blue;
    margin: 10px;
    font-size: large;
}

.btn2{
    background-color: dodgerblue;
    color: white;
    padding: 0px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
} */

.sell{
  margin: 40px;
  margin-top: 126px;
}

.hr{
  border-top: 1px solid darkgray;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

.formSell{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0 2%;
}

.custom{
  font-size: 18px;
  margin-bottom: 30px;
}

.inputbox{
  background-color: rgb(218, 237, 242);
  border-radius: 5px;
  border: #fff;
}